$main-width: 800px;
$profileinf-padding: 20px;
$themecolor: #CBEDFE;
$theme-grey: #565656;
$padding-default: 10px;
$markerLineWidth: 150px;
$markerLineHeigth: 3px;
$moduleMargin: 10px;
body {
    padding-top: 15px;
}

.main {
    margin: 50px auto;
    background: #FFF;
    max-width: $main-width;
    min-height: 500px;
    border-radius: 20px;
}

.header {
    position: relative;
}

.profileinfo,
.img-profile {
    display: inline-block;
    margin: $profileinf-padding;
    // padding: $profileinf-padding * 2;
}

.profileinfo {
    vertical-align: middle;
    // padding: $profileinf-padding;
}

.view-tab {
    padding: 0 12px;
    min-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 10px 1px 3px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: $theme-grey;
    cursor: pointer;
}

.view-tab:not(.activeview):hover {
    text-decoration: underline;
}

.module-title::before,
.module-title::after {
    // display: inline-block;
    content: "";
    height: $markerLineHeigth;
    // width: $markerLineWidth;
    flex-grow: 1;
    // vertical-align: middle;
    // padding: 10px;
    // margin: 10px;
    //flex::
    align-self: center;
    background-color: $themecolor;
}

.module-title::before {
    margin-right: $moduleMargin;
}

.module-title::after {
    margin-left: $moduleMargin;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: auto;
    padding-right: auto;
}

.module {
    position: relative;
    align-self: center;
    width: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.module-title {
    // display: inline-block
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-grow: 1;
    align-self: center;
    text-align: center;
    letter-spacing: 2px;
    // margin: 10px;
}

.module-header {
    display: flex;
    flex-direction: row;
    // line-height: 15px;
    // height: 15px;
    // margin: 10px
    // vertical-align: middle;
    // white-space: nowrap;
}

.activeview {
    color: #000000 !important;
    border-bottom: 3px;
    border-width: 3px;
    border-bottom-style: solid;
    border-color: $themecolor;
}

.infoset {
    display: flex;
    flex-direction: row;
}

.infoset-left,
.infoset-beef {
    display: flex;
    flex-direction: column;
    // display: inline-block;
    padding: $padding-default;
}

.infoset-beef {
    // height: 301px;
}

.infoset-beef-title {
    @extend h4;
    margin-bottom: 1px;
}

.infoset-left {
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.infoset-end,
.infoset-start,
.infoset-until {
    flex-grow: 1;
    // align-self: center;
    text-align: center;
    margin: auto;
    color: #7F7F7F;
}

cv-info-module {
    @extend .content;
}

ul {
    margin-bottom: 2px;
}

.buttonrow {
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 30px;
    padding-top: 25px;
    text-align: center;
}

[contenteditable='true'],
[contenteditable='false'] {
    transition: all 0.3s ease-in-out;
}

[contenteditable='true'] {
    border: 2px dotted #ccc;
    background-color: #FCFCFC;
    padding: 5px;
}

.module-edit-ctrl {
    position: absolute;
    left: 404px;
    top: 0;
    width: 150px;
    height: 50px;
}

.module-edit-btn {
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.rotate1 {
    transform: rotate(90deg);
}

.rotate2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) rotate(-90deg);
    filter: FlipH;
    -ms-filter: "FlipH";
    // transform: rotate(360deg);
}

.edit-main {}

.edit-cancel {
    font-size: 8px;
}

#edit-panel {
    width: 38px;
    top: 20px;
    position: absolute;
    right: 0;
}

.red-btn,
.red-btn:focus {
    background-color: #FFCC00;
}


