<h1>Hello world!!!</h1>
<p>This text is made by Chris. Initial page and layout should appear here eventually.</p>
<p>Also the styling is done with SASS. You may put .scss files to assets/styles. Then add 'import' to importer.scss and it should compile to CSS</p>
<p>The Angular.min file is also now in Git. Check assets/js/dependencies/angular.min.js</p>