<div class="main container">
    <div class="header">
        <img class="img-rounded img-profile" src="images/profile.jpg" width="150px" height="150px">
        <div class="profileinfo">
            <h2 class="name">Ukkeli Pelimanni</h2>
            <h3><small>Software Architect</small></h4>
        </div>
    </div>
    <div class="navi">
        <div class="view-current">CV</div>
        <div class="view-tab">PORTOFOLIO</div>
        <div class="view-tab">CONTACT</div>
    </div>
    <div class="content" ng-app="webresApp">

        <!-- <button type="submit" class="btn btn-primary btn-lg" ng-click="addModule()">Add Module</button> -->
        <div class="module info">
            <div class="module-header">
                <span class="module-title">EDUCATION</span>
            </div>
            <div class="infoset">
                <div class="infoset-left">
                    <div class="infoset-end">2018</div>
                    <div class="infoset-until">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </div>
                    <div class="infoset-start">2010</div>
                </div>
                <div class="infoset-beef">
                    <div class="infoset-beef-title">Aalto University</div>
                    <ul>
                        <li>Major: Building architecture</li>
                        <li>Minor: Landscape design</li>
                    </ul>
                    <p>Studying such architecture very amaze. </p>
                </div>
            </div> 
            <div class="infoset">
                <div class="infoset-left">
                    <div class="infoset-end">2008</div>
                    <div class="infoset-until">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </div>
                    <div class="infoset-start">2005</div>
                </div>
                <div class="infoset-beef">
                    <div class="infoset-beef-title">Perniö High School</div>
                    <p>Much nice school.</p>
                </div>
            </div> 
        </div> 

        <!-- <div ng-repeat="moduleinfo in modules"> -->
        <div ng-repeat="moduleinfo in modules">
        <cv-info-module module="{{moduleinfo}}"></cv-info-module>
        </div>
        <!-- </div> -->
        <div ng-view class="content">
            <!-- <p>asdf</p> -->
        </div>


       <!--  <div class="module info">
            <div class="module-header">
                <span class="module-title">WORK EXPERIENCE</span>
            </div>
            <div class="infoset">
                <div class="infoset-left">
                    <div class="infoset-end"></div>
                    <div class="infoset-until">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </div>
                    <div class="infoset-start">2013/03</div>
                </div>
                <div class="infoset-beef">
                    <div class="infoset-beef-title">ARC Architechts</div>
                    <p>Photoshop designer and MS paint expert.</p>
                </div>
            </div> 
            <div class="infoset">
                <div class="infoset-left">
                    <div class="infoset-end">2007/02</div>
                    <div class="infoset-until">
                        <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                    </div>
                    <div class="infoset-start">2006/11</div>
                </div>
                <div class="infoset-beef">
                    <div class="infoset-beef-title">Rostock Solutions Oy</div>
                    <p>Internal trainee on future tech solutions department.</p>
                </div>
            </div> 
        </div>  -->

    </div>
</div>
<!-- <div class="container" ng-controller="MainController">
    <h1>Hello world!!!</h1>
    <h1>{{ title }}</h1>
    <p>This text is made by Chris. Initial page and layout should appear here eventually.</p>
    <p>Also the styling is done with SASS. You may put .scss files to assets/styles. Then add 'import' to importer.scss and it should compile to CSS</p>
    <p>The Angular.min file is also now in Git. Check assets/js/dependencies/angular.min.js</p>
    <p>kukksdfasdf</p>
</div> -->