<div class="main container">
    <div class="header">
        <img class="img-rounded img-profile" src="images/profile.jpg" width="150px" height="150px">
        <div class="profileinfo">
            <h2 class="name">Ukkeli Pelimanni</h2>
            <h3><small>Software Architect</small></h4>
        </div>
    </div>
    <div class="navi">
        <div class="view-current">CV</div>
        <div class="view-tab">PORTOFOLIO</div>
        <div class="view-tab">CONTACT</div>
    </div>
    <div class="content">
        <div class="module-info">
            <div class="module-title">EDUCATION</div>
            <div class="infoset">
                <div class="infoset-left">
                    <div class="infoset-end">2018</div>
                    <div class="infoset-start">2010</div>
                </div>
                <div class="infoset-beef">
                    <div class="infoset-beef-title">Aalto University</div>
                    <ul>
                        <li>Major: Building architecture</li>
                        <li>Minor: Landscape design</li>
                    </ul>
                    <p>Studying such architecture very amaze. </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <h1>Hello world!!!</h1>
    <p>This text is made by Chris. Initial page and layout should appear here eventually.</p>
    <p>Also the styling is done with SASS. You may put .scss files to assets/styles. Then add 'import' to importer.scss and it should compile to CSS</p>
    <p>The Angular.min file is also now in Git. Check assets/js/dependencies/angular.min.js</p>
    <p>kukksdfasdf</p>
</div>