<cv-info-module ng-repeat="cvmodule in vm.modules" module="cvmodule"></cv-info-module>
<div id="testrow">
    <button type="submit" class="test btn btn-primary btn-sm" ng-click="addModule()">Add Module</button>
    <button type="submit" class="test btn btn-primary btn-sm" ng-click="removeModule()">Remove Module</button>
    <!-- <button type="submit" class="btn btn-primary btn-sm" ng-click="addInfoSet()">Add InfoSet</button> -->
    <!-- <button type="submit" class="test btn btn-primary btn-sm" ng-click="editMode()">Activate edit mode</button> -->
    <button type="button" ng-click="editMode()" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
</div>