
$main-width: 800px;
$profileinf-padding: 20px;
$themecolor: #CBEDFE;
$theme-grey: #565656;

// body {
// 	padding: 0 auto;
// }

.main {
	margin: 50px auto;
	background: #FFF;
	max-width: $main-width;
	min-height: 500px;
	border-radius: 20px;
}

.header {

}

.profileinfo, .img-profile {
	display: inline-block;
	margin: $profileinf-padding;
	// padding: $profileinf-padding * 2;
}

.profileinfo {
	vertical-align: middle;
	// padding: $profileinf-padding;

}

.view-tab, .view-current {
	min-width: 80px;
	text-align: center;
	display: inline-block;
	margin: 10px 15px 3px;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: $theme-grey;
}

.view-tab {
	// cursor: crosshair;
	cursor: pointer;
}

.view-current {
	color: #000000;
	border-bottom: 3px;
	border-width: 3px;
	border-bottom-style: solid;
	border-color: $themecolor;
}

.infoset-left, .infoset-beef {
	display: inline-block;
}

.infoset-left-end, .infoset-left-start {
	text-align: center;
}