<div class="module info">
	<div class="module-header">
		<span class="module-title edit">{{module.title}}</span>
	</div>
	<div class="infoset">
		<div class="infoset-left">
			<div class="infoset-end edit">2019</div>
			<div class="infoset-until">
				<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
			</div>
			<div class="infoset-start edit">2013/03</div>
		</div>
		<div class="infoset-beef">
			<div class="infoset-beef-title edit">ARC Architechts</div>
			<p class="edit">Photoshop designer and MS paint expert.</p>
		</div>
	</div> <!-- END INFOSET -->
</div> <!-- END MODULE-INFO -->