<div class="module info">
<button type="submit" class="btn btn-primary btn-lg" ng-click="addModule()">Add Module</button>
<button type="submit" class="btn btn-primary btn-lg" ng-click="removeModule()">Remove Module</button>
<button type="submit" class="btn btn-primary btn-sm" ng-click="addInfoSet()">Add InfoSet</button>
	<div class="module-header">
		<span class="module-title">WORK EXPERIENCE</span>
	</div>
	<div class="infoset">
		<div class="infoset-left">
			<div class="infoset-end"></div>
			<div class="infoset-until">
				<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
			</div>
			<div class="infoset-start">2013/03</div>
		</div>
		<div class="infoset-beef">
			<div class="infoset-beef-title">ARC Architechts</div>
			<p>Photoshop designer and MS paint expert.</p>
			<ul ng-repeat="singleModule in modules">
				<li>{{singleModule.value}}</li>
			</ul>	
		</div>
	</div> <!-- END INFOSET -->
</div> <!-- END MODULE-INFO -->