<div class="main container">
    <div class="header">
        <img class="img-rounded img-profile" src="images/profile.jpg" width="150px" height="150px">
        <div class="profileinfo">
            <h2 class="name">Ukkeli Pelimanni</h2>
            <h3><small>UX Antimessiah</small></h4>
        </div>
    </div>
    <div class="navi">
        <div id="profilelink" class="view-tab" ng-click="main.activate('profile')" ui-sref=".profile" ui-sref-active="activeview">
            CV
        </div>
        
        <div id="portfoliolink" class="view-tab" ng-click="main.activate('portfolio')" ui-sref=".portfolio" ui-sref-active="activeview">
            PORTFOLIO
        </div>
        
        <div id="contactlink" class="view-tab" ng-click="main.activate('contact')" ui-sref=".contact" ui-sref-active="activeview">
            CONTACT
        </div>
        
    </div>
    <!-- <div class="content" ng-app="webresApp"> -->
    <div class="content" ui-view>
        <!-- <button type="submit" class="btn btn-primary btn-lg" ng-click="addModule()">Add Module</button> -->
        

        <!-- <div ng-repeat="moduleinfo in modules"> -->

        <!-- </div> -->
        <!-- <div ng-view class="content"> -->
        <!-- <div class="content" >
        <p>{{vm.modul1.title}}</p>
        </div> -->
    </div>
</div>
